---
import DefaultHeader from '../components/header/default.astro';
import DefaultFooter from '../components/footer/default.astro';
const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body>
<DefaultHeader />
<h1>{title}</h1>
<slot />
<DefaultFooter />
</body>
</html>
